<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingManagerServlet</servlet-name>
        <servlet-class>controller.BookingManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBookedRoomServlet</servlet-name>
        <servlet-class>controller.CheckBookedRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBillServlet</servlet-name>
        <servlet-class>controller.CheckBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBillServlet</servlet-name>
        <servlet-class>controller.EditBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStatisticsServlet</servlet-name>
        <servlet-class>controller.ShowStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>controller.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResetPassServlet</servlet-name>
        <servlet-class>controller.ResetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelManagerServlet</servlet-name>
        <servlet-class>controller.HotelManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomManagerServlet</servlet-name>
        <servlet-class>controller.RoomManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHotelServlet</servlet-name>
        <servlet-class>controller.DeleteHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHotelServlet</servlet-name>
        <servlet-class>controller.AddHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHotelServlet</servlet-name>
        <servlet-class>controller.EditHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>controller.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <servlet-class>controller.DeleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomServlet</servlet-name>
        <servlet-class>controller.EditRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforHotelServlet</servlet-name>
        <servlet-class>controller.InforHotelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassServlet</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelManagerServlet</servlet-name>
        <url-pattern>/hotelmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomManagerServlet</servlet-name>
        <url-pattern>/roommanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHotelServlet</servlet-name>
        <url-pattern>/deletehotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHotelServlet</servlet-name>
        <url-pattern>/addhotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHotelServlet</servlet-name>
        <url-pattern>/edithotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <url-pattern>/deleteroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomServlet</servlet-name>
        <url-pattern>/editroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforHotelServlet</servlet-name>
        <url-pattern>/inforhotel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BookingManagerServlet</servlet-name>
        <url-pattern>/bookingmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBookedRoomServlet</servlet-name>
        <url-pattern>/checkbookedroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBillServlet</servlet-name>
        <url-pattern>/checkbill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBillServlet</servlet-name>
        <url-pattern>/editbill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStatisticsServlet</servlet-name>
        <url-pattern>/showstatistics</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
